
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Arial, sans-serif;
}
body {
  background: linear-gradient(135deg, #a29cf5 0%, #aaa9f3 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app{
  background: white;
  width: 400px;
  padding: 25px 30px;
  border-radius: 18px;
  box-shadow: 0px 8px 25px black(0,0,0,15);
  }
  @keyframes fadeIn {
    from { opacity: 0;  transform: translate(10px);}
    to { opacity: 1; transform: translate(0);}
  }
.task-form input{
  flex: 1;
  padding: 12px;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: 0.3s;
}
.task-form input:focus{
  border-color:#a29cf5;
  outline:none;
}